<div class="row">
  <h1 class="small-12 columns">All Games</h1>
  <%= form_tag(games_path, method: "get") do %>
    <%= label_tag(:query, "Search by Genre:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %>

     <% total_ratings = [] %>
    <% @games.each do |game| %>
    <div class="index_profile small-12 large-4 columns">
      <div class="background">
        <%= link_to game.title, game_path(game.id) %>
          <% game.user_games.each do |user_game| %>
          <% total_ratings << user_game.rating %>
        <% end %></br>
        <% average_ratings = total_ratings.inject{ |sum, el| sum + el }.to_i / total_ratings.size %>
        <%= average_ratings %>/5
        <% average_ratings.times do %>
          <i class="fas fa-star %>"></i>

        <% end %>
      </div>
    </div>
    <% end %>

</div
