<div class="background row">
  <h1 class="small-12 columns"><%= @game.title %></h1>
  <div class="small-12 large-4 columns">
    <p class="sub">Consoles: <% @game.consoles.each do |console| %></p>
          <p><%= console.name %></p>
          <% end %>
  </div>
  <div class="small-12 large-4 columns">
    <p class="sub">Year Released:<p>
    <p><%= @game.year_released %></p>
  </div>
  <div class="small-12 large-4 columns">
    <p class="sub">Players with this game:</p>
    <% @game.users.each do |player| %>
      <p><%= link_to player.name, user_path(player.id) %></p>
    <% end %>
    <p> Number of available copies: <%= @game.available_copies %></p>
  </div>
    <p> Players who want this game: </p>
  <div class="small-12 columns">
    <p class="sub">Average rating:</p>
    <%= @game.average_rating %>/5
    <% if @game.average_rating.is_a? Numeric %>
      <% @game.average_rating.times do %>
        <i class="fas fa-star %>"></i>

      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= button_to "Add To Wishlist", add_to_wishlist_path(@game), class: "space button" %>
  <%= link_to "View all games", games_path, class: "space button" %>
</div>
